<p id="notice"><%= notice %></p>

<p>
  <strong>Emp name:</strong>
  <%= @employ.emp_name %>
</p>

<p>
  <strong>Emp father name:</strong>
  <%= @employ.emp_father_name %>
</p>

<p>
  <strong>Sallary:</strong>
  <%= @employ.sallary %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employ.designation %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @employ.starting_date %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @employ.mobile_number %>
</p>

<%= link_to 'Edit', edit_employ_path(@employ) %> |
<%= link_to 'Back', employs_path %>
